@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
html,
body {
  overflow: auto;
  font-family: "Roboto" !important;
  color: white;
  /* background-color: rgb(10, 5, 25); */
  background-color: rgb(5, 5, 30);
}
.nav_blur {
  backdrop-filter: blur(10px);
}
#nav_bar {
  z-index: 100;
}
#display {
  height: 85vh;
  transform: translateY(30px);
  opacity: 0;
  transition-duration: 1s;
}
#textDisplay {
  /* background-color: blue; */
}
.hover-effect {
  overflow: hidden;
  margin-top: -10px;
}

.hover-effect:hover .hover-bottom {
  opacity: 0;
  top: 30px;
  transition-delay: 0s;
}

.hover-effect:hover .hover-top {
  opacity: 1;
  top: 50px;
  transition-delay: 0s;
}

.hover-top,
.hover-bottom {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.4s;
  font-size: 23px;
  padding: 10px;
}

.hover-top {
  position: relative;
  top: -10px;
  opacity: 0;
}

.hover-bottom {
  opacity: 1;
}

.growing-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 0px; /* Initial small width */
  height: 0px; /* Initial small height */
  border-radius: 50%;
  animation: growCircle 1.2s ease-out forwards 2s; /* Animation to grow the circle with a delay of 1.5s */
}

@keyframes growCircle {
  0% {
    opacity: 1; /* Initial opacity (no transparency) */
  }

  50% {
    opacity: 1; /* Opacity stays 1 until 75% of the animation duration */
  }

  100% {
    width: max(120vw, 120vh); /* Use the maximum of 200vw and 200vh */
    height: max(
      120vw,
      120vh
    ); /* Final large height covering the entire viewport width */
    /* opacity: 0;  */
    /* Opacity gradually becomes 0 in the last 25% of the animation duration */
    /* transition: opacity 2s; */
  }
}
