@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: white;
}
html,
body {
  margin: 0;
  height: 100%;
  overflow: auto;
  font-family: "Roboto" !important;
  color: white;
  /* background-color: rgb(10, 5, 25); */
  background-color: rgb(5, 5, 30);
}
.nav_blur {
  backdrop-filter: blur(10px);
}

video {
  transform: rotateY(180deg);
}
#display{
  /* height: 35vw; */
  height: 80vh;
  transform: translateY(120px);
  opacity: 0;
  transition-duration: 1s;
}
#textDisplay{
  /* background-color: blue; */
}